MvcApp/obj/MvcApp.csproj.nuget.cache
MvcApp/obj/MvcApp.csproj.nuget.cache
MvcApp/obj/MvcApp.csproj.nuget.cache
MvcApp/obj/Debug/netcoreapp2.1/MvcApp.csproj.CoreCompileInputs.cache
MvcApp/obj/Debug/netcoreapp2.1/MvcApp.AssemblyInfo.cs
MvcApp/obj/MvcApp.csproj.nuget.cache
MvcApp/obj/MvcApp.csproj.nuget.g.props
MvcApp/obj/MvcApp.csproj.nuget.g.targets
MvcApp/obj/project.assets.json
MvcApp/obj/Debug/netcoreapp2.1/MvcApp.csprojResolveAssemblyReference.cache
